<div class="ag-offer-block">
    <div class="ag-format-container">
      <ul class="ag-offer_list">
        <li class="ag-offer_item">
          <div class="ag-offer_visible-item">
            <div class="ag-offer_img-box">
              <img src="{{imgUrl}}1{{ex}}" class="ag-offer_img" alt="" />
            </div>
            <div class="ag-offer_title">
              Since
            </div>
          </div>
          <div class="ag-offer_hidden-item">
            <p class="ag-offer_text">
              eLife was established in 2001
                        </p>
          </div>
        </li>
        <li class="ag-offer_item">
          <div class="ag-offer_visible-item">
            <div class="ag-offer_img-box">
              <img src="{{imgUrl}}2{{ex}}" class="ag-offer_img" alt="" />
            </div>
            <div class="ag-offer_title">
              Professionals
            </div>
          </div>
          <div class="ag-offer_hidden-item">
            <p class="ag-offer_text">
              Prosthesis Precision engineered for safety and reliability            </p>
          </div>
        </li>
        <li class="ag-offer_item">
          <div class="ag-offer_visible-item">
            <div class="ag-offer_img-box">
              <img src="{{imgUrl}}3{{ex}}" class="ag-offer_img" alt="" />
            </div>
            <div class="ag-offer_title">
              Distributors
            </div>
          </div>
          <div class="ag-offer_hidden-item">
            <p class="ag-offer_text">
              "Distributors play a critical role in our supply chain, ensuring widespread access to our products."            </p>
          </div>
        </li>
        <li class="ag-offer_item">
          <div class="ag-offer_visible-item">
            <div class="ag-offer_img-box">
              <img src="{{imgUrl}}4{{ex}}" class="ag-offer_img" alt="" />
            </div>
            <div class="ag-offer_title">
              Medical Devices
            </div>
          </div>
          <div class="ag-offer_hidden-item">
            <p class="ag-offer_text">
              provides over 500 thousand medical devices to the market every year             </p>
          </div>
        </li>
        <li class="ag-offer_item">
          <div class="ag-offer_visible-item">
            <div class="ag-offer_img-box">
              <img src="{{imgUrl}}5{{ex}}" class="ag-offer_img" alt="" />
            </div>
            <div class="ag-offer_title">
              About Us
            </div>
          </div>
          <div class="ag-offer_hidden-item">
            <p class="ag-offer_text">
              "We aim to enhance mobility and quality of life through innovative orthopedic solutions, prioritizing safety, quality and global standards."
                  </p>
          </div>
        </li>
        <li class="ag-offer_item">
          <div class="ag-offer_visible-item">
            <div class="ag-offer_img-box">
              <img src="{{imgUrl}}6{{ex}}" class="ag-offer_img" alt="" />
            </div>
            <div class="ag-offer_title">Contact Us</div>
          </div>
          <div class="ag-offer_hidden-item">
            <a routerLink="contact" class="ag-offer_btn">
              Get In Touch
                        </a>
          </div>
        </li>
      </ul>
    </div>
  </div>