<!-- footer.component.html -->
<footer class="bg-dark text-white py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4">
        <h4>Taipei Head Office</h4>
        <p>e-life International Co., Ltd.</p>
        <p>TEL: +886229231516</p>
        <p>EMAIL: info@elife.com</p>
        <p>ADDRESS: 7F., No.1, Baosheng Rd., Yonghe Dist., New Taipei City 234, Taiwan (R.O.C.)</p>
      </div>
      <div class="col-md-3 mb-4">
        <h4>Egypt Office</h4>
        <p>e-life Egypt</p>
        <p>TEL: +20 109 461 6400</p>
        <p>EMAIL: info@elifeegypt.com</p>
        <p>ADDRESS: Salah Salem ST, Beni Sueif, Egypt</p>
      </div>
      <div class="col-md-3 mb-4">
        <h4>Malaysia</h4>
        <p>Medtec International Sdn Bhd</p>
        <p>TEL: +60351310133</p>
        <p>EMAIL: sales@medtecint.com</p>
        <p>ADDRESS: 11, Jalan Sungai Jeluh 32/191, Kawasan Perindustrian Kemuning, Seksyen 32, 40460 Shah Alam, Selangor Darul Ehsan, Malaysia</p>
      </div>

      <div class="col-md-3 mb-4">
        <h4>Australia & New Zealand</h4>
        <p>Medtec International-(ABN 67 269 386 411)</p>
        <p>TEL: +61481863399</p>
        <p>EMAIL: adrian@medtecint.com.au</p>
      </div>
    </div>
  </div>

    <div class="text-center">
      <app-logo></app-logo>
    </div>
    <div class="text-center">
      Copyright © 2023 e-life International Co., Ltd.
        </div>
  </footer>
  <a href="https://www.linkedin.com/in/hamza-halawa/" target="_blank">
  <div class="text-center bg-black text-light">
      Made with <span style="color: red">&hearts;</span> by
      <span> Hamza Halawa</span>
    </div>
  </a>
