<div class="container w-25 p-4">
  <div class="login-box">
    <h2>Login</h2>
    <form  [formGroup]="login" (ngSubmit)="onSubmit()">
      <div class="user-box">
        <input type="text" formControlName="email" name="" required="" />
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" formControlName="password" name="" required="" />
        <label>Password</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input
      [disabled]="login.invalid"
      type="submit"
      value="login"
      class="btn mt-3"
    />
      </a>
    </form>
  </div>
</div>
